
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

}


/* ================================
utility and root css
=================================*/
:root {
 

}

.main_padding {
  padding: 2rem 3rem;

}

.main_margin {
  margin: 2rem 3rem;
}